:root {
  --quiz-background: #f0f3f5;
  --quiz-text-color: #333;
  --quiz-accent-color: var(--color-accent-600);
  --quiz-success-color: #16a34a;
  --quiz-error-color: #dc2626;
  --quiz-font-family: "DM Sans", sans-serif;
}

.combined-quiz-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin-bottom: 7rem;
}

.quiz-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.quiz-header {
  margin-bottom: 20px;
  text-align: center;
}

.quiz-header h1 {
  margin-top: 0;
  font-size: 2.2rem;
  color: var(--quiz-text-color);
}

.quiz-header p {
  font-size: 1rem;
  color: #555;
}

.quiz-content {
  text-align: center;
}

.array-display {
  margin: 20px 0;
}

.array-element {
  display: inline-block;
  margin: 5px;
  padding: 15px 20px;
  background-color: var(--quiz-accent-color);
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
}

.array-element.highlight {
  background-color: #fbbf24;
  animation: highlight 1s infinite alternate;
}

@keyframes highlight {
  0% {
    background-color: #fbbf24;
  }
  100% {
    background-color: #fde68a;
  }
}

.quiz-instructions {
  font-size: 1rem;
  color: var(--quiz-text-color);
}

.progress-info {
  font-size: 0.9rem;
  color: #555;
  margin-top: 10px;
}

.buttons-container {
  margin: 20px 0;
}

.buttons-container button {
  background-color: var(--quiz-accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons-container button:hover {
  background-color: var(--color-accent-300);
}

.attempt-message {
  font-weight: bold;
  margin-top: 10px;
}

.attempt-message::before {
  content: "↳ ";
  margin-right: 5px;
}

.attempt-message:empty::before {
  content: "";
}

.attempt-message {
  color: var(--quiz-error-color);
}

.attempt-message:contains("✅ Correct!") {
  color: var(--quiz-success-color);
}

.quiz-results {
  text-align: center;
}

.quiz-results h2 {
  color: var(--quiz-accent-color);
}

.quiz-results p {
  font-size: 1.2rem;
  color: var(--quiz-text-color);
}

.restart-button {
  background-color: var(--quiz-accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.restart-button:hover {
  background-color: #1d4ed8;
}

@media screen and (max-width: 600px) {
  .array-element {
    margin: 3px;
    padding: 10px 12px;
    font-size: 1rem;
  }

  .quiz-header h1 {
    font-size: 1.8rem;
  }

  .quiz-header p {
    font-size: 0.9rem;
  }

  .buttons-container button {
    padding: 8px 16px;
    font-size: 0.9rem;
    margin: 0 5px;
  }

  .restart-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
