* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --color-grey-100: rgb(236, 236, 236);
  --color-grey-300: rgb(187, 185, 185);
  --color-grey-400: rgb(134, 134, 134);
  --color-grey-500: rgb(88, 88, 88);
  --color-grey-600: rgb(36, 36, 41);
  --color-grey-900: rgb(25, 25, 27);

  --color-black-600: rgb(20, 20, 20);
  --color-black-700: rgb(15, 15, 15);
  --color-black-900: rgb(8, 8, 8);

  --color-red-100: rgb(248, 132, 132);
  --color-red-300: rgb(231, 66, 66);
  --color-red-500: rgb(165, 42, 42);

  --color-white-300: rgb(246, 248, 255);
  --color-white-600: rgb(248, 248, 248);

  --color-secondary: rgb(69, 90, 129);
  --color-primary: rgb(40, 61, 99);

  --color-accent-100: rgb(194, 198, 255);
  --color-accent-300: rgb(79, 111, 197);
  --color-accent-500: rgb(62, 65, 131);
  --color-accent-600: rgb(35, 38, 88);
  --color-accent-900: rgb(2, 5, 49);

  --max-width: 130rem;
  --min-width: 50rem;
}

body {
  /* font-family: "Quicksand", sans-serif; */
  font-family: "DM Sans", sans-serif;
  margin: 0px;
  height: 100%;
  min-height: 100%;
  background-color: var(--color-white-300);
  color: var(--color-black-600);
}
